.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.sized-box{
  width: 10px;
  height: 10px;
}

.data-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  color: rgb(124, 124, 238);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 20px;
  margin-bottom: 15px;
}

.wave-button {
  background-color: rgb(124, 124, 238);
  color: antiquewhite;
  cursor: pointer;
  padding: 14px;
  font-size: 1.3rem;
  border: 0;
  border-radius: 5px;
  margin:0 auto;
  display:block;
  width: 100%;
}